<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="../images/Ada.png" alt="" width="75" height="30" class="d-inline-block align-text-top" />
          Ada's Adventure
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>

  <body class="clase1">
    <div class="container">
      <br>
      <h1>Crea tu cuenta</h1>
      <br>
      <form action="/steam/agregarUsuario" method="post">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamNombre"> Nombre:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre(s)"
                id="steamNombre"
                name="steamNombre"
                required="true"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamEmail">
                Correo electrónico:</label
              >
              <input
                type="email"
                class="form-control"
                placeholder="Ingresa tu correo electrónico"
                id="steamEmail"
                name="steamEmail"
                required="true"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamApellidoP">
                Apellido paterno:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Apellido paterno"
                id="steamApellidoP"
                name="steamApellidoP"
                required="true"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamPswd"> Contraseña:</label>
              <input
                type="password"
                class="form-control"
                placeholder="Introduce tu contraseña"
                id="PswdUsuario"
                name="steamPswd"
                required="true"
                onchange="validarPassword()"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamApellidoM">
                Apellido materno:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Apellido materno"
                id="steamApellidoM"
                name="steamApellidoM"
                required="true"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="clase2" for="steamPswd2">
                Confirmar contraseña:</label
              >
              <input
                type="password"
                class="form-control"
                placeholder="Introduce de nuevo tu contraseña"
                id="PswdUsuario2"
                name="steamPswd2"
                required="true"
                onchange="validarPassword()"
              />
            </div>
          </div>
        </div>

        <button
          class="btn btn-warning clase2"
          type="submit"
          id="btnEnviar"
          disabled="true"
        >
          Enviar
        </button>
        <button class="btn btn-danger clase2" type="reset">Deshacer</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="/js/funciones.js"></script>
  </body>
</html>
