h1 {
  text-align: center;
  color: blanchedalmond;
  font-family: "Times New Roman", Times, serif;
}

.clase1 {
  background-color: #08a4ac;
  text-align: center;
}

.clase2 {
  color: blanchedalmond;
  font-family: cursive;
}
